.container-fluid .button{
  margin: 0 0 0 20px;
}

.container-fluid .purplec{
  color:#2b97fc;
}

.navbar-nav .stylebp{
  padding:10px;
  font-weight: bold;
  border-radius: 15px;
  border-width: 2px;
  background-color: #2b97fc;
  color: white;
}

.navbar-nav .stylebp:hover{
  background-color: #1978fc;
}

.navb .button:hover{
  text-decoration: underline;
}

.first-div{
    position: relative;
    height:115vh;
    width: 100%;
    background-image: url('../img/div-1-blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 90px 0 0 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'text image';
    overflow: hidden;
}

@media (max-width: 768px) {
  .first-div{
    height:80vh;
  }
}

@media (max-width: 600px) {
  .first-div{
    height:80vh;
  }
}

@media (max-width: 576px) {
  .first-div{
    height:80vh;
  }
}

@media (max-width: 444px) {
  .first-div{
    height:80vh;
  }
}

.first-div .logo-bg{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  z-index: 500;
  background-image: url('../img/vslogo.png');
  background-size: cover;
  position:absolute;
  background-color: white;
  /* border:solid; */
  border-radius: 6rem;
  top: 25%;
  left: 63%;
  height: 31rem;
  width: 31rem;
  /* animation: float 3s ease-in-out infinite; */
}

/* .first-div .logo-bg:hover{
  animation-play-state: paused;
} */

@media (min-width: 1450px) {
  .first-div .logo-bg{
    animation: slideIn 0.5s ease-out forwards, float 3s ease-in-out infinite;
    /* animation: float 3s ease-in-out infinite; */
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideIn {
  0%{
    left:80%;
    opacity: 0;
  }
  
  100% {
    left:63%;
    opacity: 1;
  }
}

@media (max-width: 1424px) {
  .first-div .logo-bg{
    transform: scale(0.80);
    top: 30%;
    left: 59%;
  }
}

@media (max-width: 1224px) {
  .first-div .logo-bg{
    transform: scale(0.70);
    top: 15%;
    left: 54%;
  }
}

@media (max-width: 968px) {
  .first-div .logo-bg{
    transform: scale(0.65);
    top: 12%;
    left: 45%;
  }
}

@media (max-width: 768px) {
  .first-div .logo-bg{
    top: 3%;
    left: 35%;
    transform: scale(0.5);
  }
}

@media (max-width: 600px) {
  .first-div .logo-bg{
    top: -3%;
    left: 35%;
    transform: scale(0.4);
  }
}

@media (max-width: 576px) {
  .first-div .logo-bg{
    top: -10%;
    left: 26%;
    transform: scale(0.25);
  }
}

@media (max-width: 444px) {
  .first-div .logo-bg{
    top: -20%;
    left: 6%;
  }
}

.grid-1{
    grid-area: text;
    z-index: 9999;
}

.grid-1 h1{
  font-size: auto;
}

@media (max-width: 968px) {
  .grid-1 h1{
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .grid-1 h1{
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .grid-1 h1{
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .grid-1 h1{
    font-size: 20px;
  }
}

@media (max-width: 444px) {
  .grid-1 h1{
    font-size: 30px;
  }
}

.grid-2{
    grid-area: image;
}

.second-div{
    height:115vh;
    width: 100%;
    text-align: center;
    background-repeat:no-repeat ;
    background-image: url('../img/featuresbg_blue.png');
    background-size: contain;
    position: relative;
}

@media (max-width: 1424px) {
  .second-div{
    
  }
}

@media (max-width: 1224px) {
  .second-div{
    
  }
}

@media (max-width: 968px) {
  .second-div{
    height:100vh;
  }
}

@media (max-width: 768px) {
  .second-div{
    height:150vh;
    background-image: url('../img/blue/featuresbgm-blue.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat:no-repeat ;
  }
}

@media (max-width: 600px) {
  .second-div{
    height:150vh;
  }
}

@media (max-width: 576px) {
  .second-div{
    height:150vh;
  }
}

@media (max-width: 444px) {
  .second-div{
    height:150vh;
  }
}

.second-div .cell-1{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:4%;
  left:31%;
  background-image: url("../img/icons/report-generation-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1450px) {
  .second-div .cell-1:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-1{
    transform: scale(0.8);
    top: 3%;
    left: 57%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-1{
    transform: scale(0.7);
    top: -2%;
    left: 57%;
  }
}

@media (max-width: 968px) {
  .second-div .cell-1{
    transform: scale(0.5);
    top: -4%;
    left: 53%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-1{
    top: 15%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-1{
    top: 17%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-1{
    top: 16%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-1{
    top: 17%;
    left: 3%;
    transform: scale(0.8);
  }
}

.second-div .cell-2{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:4%;
  left:57%;
  background-image: url("../img/icons/real-time-health-updates-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}



@media (min-width: 1450px) {
  .second-div .cell-2:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-2{
    transform: scale(0.8);
    top: 3%;
    left: 30.5%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-2{
    transform: scale(0.7);
    top: 0%;
    left: 26%;
  }
}

@media (max-width: 968px) {
  .second-div .cell-2{
    transform: scale(0.6);
    top: -2%;
    left: 20%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-2{
    top: 0%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-2{
    top: 0%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-2{
    top: 0%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-2{
    top: 1%;
    left: 3%;
    transform: scale(0.8);
  }
}

.second-div .cell-3{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:26%;
  left:65%;
  background-image: url("../img/icons/personalized-health-insights-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1450px) {
  .second-div .cell-3:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-3{
    transform: scale(0.8);
    top: 21%;
    left: 62%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-3{
    transform: scale(0.7);
    top: 14%;
    left: 60%;
  }
}

@media (max-width: 968px) {
  .second-div .cell-3{
    transform: scale(0.5);
    top: 9%;
    left: 54%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-3{
    top: 31%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-3{
    top: 34%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-3{
    top: 33%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-3{
    top: 33%;
    left: 3%;
    transform: scale(0.8);
  }
}

.second-div .cell-4{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:67%;
  left:8%;
  background-image: url("../img/icons/diet-and-lifestyle-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1450px) {
  .second-div .cell-4:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-4{
    transform: scale(0.8);
    top: 65%;
    left: 14%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-4{
    transform: scale(0.7);
    top: 55%;
    left: 6%;
  }
}

@media (max-widht: 1010px){
  .second-div .cell-4{
    transform: scale(0.7);
    top: 40%;
    left: 1%;
  }
}

@media (max-width: 1000px) {
  .second-div .cell-4{
    transform: scale(0.7);
    top: 47%;
    left: 1%;
  }
}

@media (max-width: 980px) {
  .second-div .cell-4{
    transform: scale(0.7);
    top: 50%;
    left: 1%;
  }
}

@media (max-width: 968px) {
  .second-div .cell-4{
    transform: scale(0.6);
    top: 45%;
    left: 1%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-4{
    top: 47%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-4{
    top: 50%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-4{
    top: 49%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-4{
    top: 50%;
    left: 3%;
    transform: scale(0.8);
  }
}

.second-div .cell-5{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:62%;
  left:37%;
  background-image: url("../img/icons/health-risk-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1450px) {
  .second-div .cell-5:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-5{
    transform: scale(0.8);
    top: 58%;
    left: 40%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-5{
    transform: scale(0.7);
    top: 45%;
    left: 37%;
  }
}

@media (max-width: 1100px) {
  .second-div .cell-5{
    transform: scale(0.7);
    top: 45%;
    left: 37%;
  }
}

@media (max-width: 970px) {
  .second-div .cell-5{
    transform: scale(0.6);
    top: 39%;
    left: 37%;
  }
}

@media (max-width: 950px) {
  .second-div .cell-5{
    transform: scale(0.6);
    top: 39%;
    left: 32%;
  }
}

@media (max-width: 800px) {
  .second-div .cell-5{
    transform: scale(0.6);
    top: 39%;
    left: 30%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-5{
    top: 64%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-5{
    top: 67%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-5{
    top: 66%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-5{
    top: 67%;
    left: 3%;
    transform: scale(0.8);
  }
}

.second-div .cell-6{
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  width:350px;
  height:175px;
  border: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top:65%;
  left:70%;
  background-image: url("../img/icons/fast-data-t.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1450px) {
  .second-div .cell-6:hover{
    transform: scale(1.25);
    z-index:1000;
  }
}

@media (max-width: 1424px) {
  .second-div .cell-6{
    transform: scale(0.8);
    top: 66%;
    left: 73%;
  }
}

@media (max-width: 1224px) {
  .second-div .cell-6{
    transform: scale(0.7);
    top: 58%;
    left: 68%;
  }
}

@media(max-width:1100px){
  .second-div .cell-6{
    transform: scale(0.7);
    top: 48%;
    left: 65%;
  }
}

@media(max-width:1000px){
  .second-div .cell-6{
    transform: scale(0.6);
    top: 40%;
    left: 63%;
  }
}

@media(max-width:970px){
  .second-div .cell-6{
    transform: scale(0.6);
    top: 45%;
    left: 60%;
  }
}

@media (max-width: 768px) {
  .second-div .cell-6{
    top: 80%;
    left: 27%;
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .second-div .cell-6{
    top: 83%;
    left: 20%;
    transform: scale(0.8);
  }
}

@media (max-width: 576px) {
  .second-div .cell-6{
    top: 83%;
    left: 15%;
    transform: scale(0.8);
  }
}

@media (max-width: 444px) {
  .second-div .cell-6{
    top: 83%;
    left: 3%;
    transform: scale(0.8);
  }
}

.third-div{
    height: 70vh;
    width: 100%;
}

.third-div h1{
    text-align: center;
}

.my-hr{
    border-top: 2px solid #000000;
    margin: 50px 20px 0 20px;
}

@media (max-width: 768px) {
  img{
    src: url("../img/blue/harsha_final.png")
  }
}


.ricomp{
  width: 100%;
  height: 50%;
}

.carousel-caption p{
    color: black;
}

.carousel-caption h5{
    color: black;
}

@media (max-width: 968px) {
    .third-div{
        height:60vh;
        width: 100%;
    }
  }

@media (max-width: 768px) {
    .third-div{
        height:40vh;
        width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .third-div {
        height: 30vh;
        width: 100%;
    }
  }

  .marh1{
    margin: 15vh 0 0 5vh;
    font-size: 3rem;
    font-weight: bold;
  }
  .marp {
    margin: 5vh 0 3vh 5vh;
    font-size: 1rem;
    font-weight: 600;
  }

  .form-but {
    margin: 5vh;
    background-color: #1460ca;
    padding: 7px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    z-index: 999;
    border-radius: 10px;
  }

  .form-but:hover {
    background-color: #3e8eff;
    cursor: pointer;
  }

  .last-div{
    background: linear-gradient(to top, #1978fc, white);
    height: 470px;
  }

  .last-div button{
    background-color: #1978fc;
    color:white;
  }

  .last-div button:hover{
    background-color: #0f8bff;
  }

  .footer{
    background-color: #1978fc;
    height:3vh;
    width:100%;
  }

  .footer p{
    font-size:15px;
  }

  .join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0 40px 0;
    height: 50%;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .join{
      margin:80px 0 40px 0;
    }
  }
  
  @media (max-width: 576px) {
    .join {
      margin:60px 0 40px 0;
    }
  }

  .join .main-title{
    text-align: center;
    font-weight: bold;
  }

  .join .rolesp{
    margin: 40px 0 0 0;
    width: 400px;
    border: solid;
    border-radius: 25px;
    text-align: center;
    padding:50px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
    border-width: 2px;
  }